.about-us-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .about-us-container h1 {
    text-decoration: none;
    text-align: center;
    color: #333;
  }
  
  section {
    margin-bottom: 40px;
    background-color: #6731c1;
    padding: 10px;
    border-radius: 10px;
  }
  
  .about-us-container h2 {
    color: #007bff;
  }
  
  .about-us-container p,a {
    text-decoration: none;
    color: white;
    line-height: 1.6;
  }
 textarea, input{
  background-color: #1d1b1e;
padding: 5px;
margin: 10px 10px 10px 0px;
 }

 .ourre button
 {
color: white;
background-color: #f40e63;
 }
  